Button {
    -fx-background-color: linear-gradient(to bottom, rgba(133,53,208,1) 48%, rgba(76,20,139,1) 94%);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
}

Button:hover, .close:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(133,53,208,1) 20%, rgba(76,20,139,1) 70%);
}

.close {
    -fx-background-color: red;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
}

ComboBox {
    -fx-text-fill: #FFFFFF;
}

.combo-box-popup .list-view
{
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #f5e9ff;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-background-color: rgba(133, 53, 208, 1) 48%, rgba(133, 53, 208, 1) 48%, rgba(133, 53, 208, 1) 48%, rgba(133, 53, 208, 1) 48%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 3, 3);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-text-fill: white;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}