Button {
    -fx-background-color: linear-gradient(to bottom, rgba(133,53,208,1) 48%, rgba(76,20,139,1) 94%);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
}

Button:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(133,53,208,1) 20%, rgba(76,20,139,1) 70%);
}