.body{
    -fx-background-color: #FFFFFF;
}

.text{
    -fx-font-size: 30;
    -fx-text-fill: #000000;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.flow{
    -fx-border-radius: 50;
    -fx-background-color: white;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .thumb{
    -fx-background-color: linear-gradient(to bottom, rgba(133, 53, 208, 1) 48%, rgba(76, 20, 139, 1) 94%);
    /*
    -fx-background-color: #EEEEEE;
    */
    -fx-background-radius: 5em;
}

.scroll-bar .thumb:hover{
    -fx-background-color: linear-gradient(to bottom, rgba(123, 43, 198, 1) 48%, rgba(66, 10, 129, 1) 94%);
    /*
    -fx-background-color: #CCCCCC;
     */
    -fx-background-radius: 5em;
}

.scroll-bar .decrement-arrow{
    -fx-padding: 0 0 5 5;
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow{
    -fx-background-color: transparent;

}