.progress-bar {
    -fx-accent: linear-gradient(to right, rgba(133,53,208,1) 48%, rgba(76,20,139,1) 94%);
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, rgba(133,53,208,1) 48%, rgba(76,20,139,1) 94%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5px;
}

.progress-bar .track {
    -fx-background-color: #4d4d4d;
    -fx-background-insets: 1;
    -fx-background-radius: 5px;
    -fx-opacity: 0.3;
}

#quizPane, #clickablePane {
    -fx-border-color: Black;
    -fx-border-width: 2px;
    -fx-background-color: linear-gradient(to bottom, rgba(133,53,208,1) 48%, rgba(76,20,139,1) 94%);
}

.radioButton {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-text-fill: white;
}