/*.colorable{
    -fx-background-color: white;
}
.button {
    -fx-background-color: #2c2c2c, linear-gradient(#4d4d4d 0%, #3a3a3a 25%, #2c2c2c 100%);
    -fx-background-insets: 0, 1 1 2 1;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #2c2c2c, linear-gradient(#606060 0%, #4d4d4d 25%, #3a3a3a 100%);
    -fx-background-insets: 0, 1 1 2 1;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button:pressed {
    -fx-background-color: #2c2c2c, linear-gradient(#3a3a3a 0%, #4d4d4d 25%, #606060 100%);
    -fx-background-insets: 1 1 0 1, 2 2 1 2;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.progress-bar {
    -fx-accent: #2c2c2c;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to bottom, #4d4d4d, #2c2c2c);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5px;
}

.progress-bar .track {
    -fx-background-color: #4d4d4d;
    -fx-background-insets: 1;
    -fx-background-radius: 5px;
    -fx-opacity: 0.3;
}

#info-rec{
    -fx-background-color: linear-gradient(to bottom, #4d4d4d, #2c2c2c);
    -fx-stroke: #4d4d4d;
    -fx-stroke-width: 2px;
    -fx-arc-height: 10px;
    -fx-arc-width: 10px;
}*/



